<mat-toolbar class="header" color="primary">
  <span>
    <a routerLink="">
      <img class="logo" src="assets/images/logo.png" alt="logo" />
    </a>
  </span>

  <span class="spacer"></span>

  <span class="title-group">
    <a routerLink="">
      <i class="material-icons"> home </i>
      Início
    </a>
  </span>

  <span class="title-group">
    <a routerLink="buscar">
      <i class="material-icons"> search </i>
      Buscar
    </a>
  </span>

  <span class="title-group">
    <a routerLink="usuarios-ativos">
      <i class="material-icons"> people </i>
      Usuários Ativos
    </a>
  </span>

  <span class="title-group">
    <a routerLink="ultimas-buscas">
      <i class="material-icons"> watch_later </i>
      Buscas recentes
    </a>
  </span>
</mat-toolbar>
