<mdb-card class="img-bg">
  <div class="container text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h2-responsive pt-3 mb-5 font-bold">
        <strong>Teste Front-End</strong>
      </h2>
      <p class="mx-5 mb-5">
        Neste site é possível consultar usuários, repositórios no GitHub,
        consultar ranking dos melhores usuários e repositórios.
      </p>
      <a
        mdbBtn
        routerLink="/buscar"
        color="light"
        outline="true"
        class="waves-light"
        mdbWavesEffect
      >
        <mdb-icon fas icon="search" class="left"></mdb-icon>buscar usuários
      </a>
    </div>
  </div>
</mdb-card>
