<!-- Formulário -->
<h1>Buscar usuários</h1>
<form class="md-form md-outline form-lg">
  <input
    #search
    mdbInput
    id="form-lg"
    class="form-control form-control-lg"
    type="text"
    name="text"
    (keyup.enter)="find(search.value)"
  />
  <label for="form-lg">Pesquisar</label>
</form>

<!-- Resultado -->
<ag-grid-angular
  *ngIf="text !== undefined"
  style="width: 100%; height: 500px"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [animateRows]="true"
  [rowData]="rowData"
>
</ag-grid-angular>
