<!-- Formulário -->
<h1>Buscar usuários</h1>
<form class="md-form md-outline form-lg">
  <input
    #input
    mdbInput
    mdbValidate
    id="form-lg"
    class="form-control form-control-lg"
    type="text"
    name="text"
    [(ngModel)]="minLength"
    #input="ngModel"
    required
    minlength="1"
    (keyup.enter)="find(input.value)"
  />
  <label for="form-lg">Pesquisar</label>
  <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">
    Input invalid
  </mdb-error>
</form>

<!-- Resultado -->
<ag-grid-angular
  *ngIf="text.length > 0"
  style="width: 100%; height: 500px"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [animateRows]="true"
  [rowData]="rowData"
  (rowClicked)="onRowClicked($event)"
>
</ag-grid-angular>
