<section class="container">
  <h1>{{ title }}</h1>
  <div class="card">
    <div class="flex-row d-flex justify-content-center">
      <img class="image" [src]="user.avatar_url" alt="Foto de perfil" />
    </div>
    <div class="name flex-row d-flex justify-content-center">
      <h2>{{ user.name }}</h2>
    </div>
    <div class="username flex-row d-flex justify-content-center">
      <p>@{{ user.login }}</p>
    </div>
    <div class="bio flex-row d-flex justify-content-center">
      <p>{{ user.bio }}</p>
    </div>

    <!-- info -->

    <!-- row 1 -->
    <div class="row-1 row flex-row d-flex justify-content-center">
      <div class="col-sm m-2 d-flex justify-content-center">
        <mdb-icon fas icon="users"></mdb-icon>
        {{ user.following }} Seguindo - {{ user.followers }} Seguidores
      </div>
      <div class="col-sm m-2 d-flex justify-content-center">
        <mdb-icon fas icon="folder"></mdb-icon>
        {{ user.public_repos }} Repositórios
      </div>
      <div
        *ngIf="user.company"
        class="col-sm m-2 d-flex justify-content-center"
      >
        <div class="row">
          <mdb-icon fas icon="building"></mdb-icon>
          {{ user.company }}
        </div>
      </div>
    </div>
    <!-- end row 1 -->

    <!-- row 2 -->
    <div class="row-2 row flex-row d-flex justify-content-center">
      <div
        *ngIf="user.location"
        class="col-sm m-2 d-flex justify-content-center"
      >
        <mdb-icon fas icon="map-marker-alt"></mdb-icon>
        {{ user.location }}
      </div>
      <div *ngIf="user.blog" class="col-sm m-2 d-flex justify-content-center">
        <mdb-icon fas icon="link"></mdb-icon>
        <a [href]="user.blog">{{ user.blog }}</a>
      </div>
      <div class="col-sm m-2 d-flex justify-content-center">
        <div class="row">
          <mdb-icon fas icon="code"></mdb-icon> {{ user.public_gists }} Gists
          Públicos
        </div>
      </div>
    </div>
    <!-- end row 2 -->
  </div>
</section>
