<section class="container">
  <h1>{{ title }}</h1>
  <div class="card">
    <div class="flex-row d-flex justify-content-center">
      <img
        class="image"
        src="https://avatars0.githubusercontent.com/u/26655732?v=4"
        alt="Foto de perfil"
      />
    </div>
    <div class="name flex-row d-flex justify-content-center">
      <h2>Teoian Quaresma</h2>
    </div>
    <div class="username flex-row d-flex justify-content-center">
      <p>@quaresmateo</p>
    </div>
    <div class="bio flex-row d-flex justify-content-center">
      <p>Business. Technology. Computer Science graduating.</p>
    </div>

    <!-- info -->

    <!-- row 1 -->
    <div class="row-1 row flex-row d-flex justify-content-center">
      <div class="col-sm m-2 d-flex justify-content-center">
        <mdb-icon fas icon="users"></mdb-icon>
        11 Seguindo - 12 Seguidores
      </div>
      <div class="col-sm m-2 d-flex justify-content-center">
        <mdb-icon fas icon="folder"></mdb-icon> 25 Repositórios
      </div>
      <div class="col-sm m-2 d-flex justify-content-center">
        <div class="row">
          <mdb-icon fas icon="building"></mdb-icon>
          SEDEPTI
        </div>
      </div>
    </div>
    <!-- end row 1 -->

    <!-- row 2 -->
    <div class="row-2 row flex-row d-flex justify-content-center">
      <div class="col-sm m-2 d-flex justify-content-center">
        <mdb-icon fas icon="map-marker-alt"></mdb-icon>
        Belém - PA
      </div>
      <div class="col-sm m-2 d-flex justify-content-center">
        <mdb-icon fas icon="link"></mdb-icon>
        <a href="https://teoian.com">https://teoian.com</a>
      </div>
      <div class="col-sm m-2 d-flex justify-content-center">
        <div class="row">
          <mdb-icon fas icon="code"></mdb-icon> 0 Gists Públicos
        </div>
      </div>
    </div>
    <!-- end row 2 -->
  </div>
</section>
