/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ag-grid-community/dist/styles/ag-grid.css';
@import '../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css';

$red: #bf0000 !default;
$orange: #e55 !default;
$dark: #1c2331 !default;

@mixin color-dark {
  color: $dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.red {
  color: $red;
}

.v-middle {
  vertical-align: middle;
}

.container {
  max-width: 900px !important;
  margin: 0 auto;
  min-height: 100vh;
  padding: 4rem 0;
}

.selected {
  color: $orange !important;
  font-weight: bolder;
}

.selected p {
  color: $orange;
  font-weight: bold;
}

h1 {
  font-size: 3rem !important;
  padding-top: 10px;
  font-weight: 550 !important;
  color: $dark;
}

@media (max-width: 500px) {
  .container {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 2rem 0;
  }

  h1 {
    font-size: 1.5rem !important;
    padding-top: 0px;
  }
}
